.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th 
{
    border: none;
}

.blue
{
	background-color: #99ccff;
}

.orange
{
	background-color: #f0ad4e;
	color:#fff;
}

.darkblue
{
	background-color: #6d7fcc;
}

.blackfont
{
	color: black;
}

.georgia
{
	font-family: "Georgia", serif;
}

.curved-blue
{
    border-bottom-left-radius: 5%;
	border-bottom-right-radius: 5%;
    background: #99ccff;
}

.curved-blue-outer
{
    border-radius: 5%;
    border: 2px solid #99ccff;
}